/*
    Palette colors
    #e5dada     :off-white
    #002642     :Purple
    #e59500     :Orange
    #02040f     :Black
*/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap');

body {
    background-color: #e5dada;
}

nav {
    background-color: #e59500;
    border: 3px solid #02040f;
    padding-left: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
}

footer {
    clear: left;
}

h1 {
    color: #02040f;
    font-family: 'lexend Mega', sans-serif;
}

p {
    color: #02040f;
    padding-left: 10px;
}

p::first-letter {
    font-size: 1.5rem;
}

img {
    border-radius: 5px solid black;
    margin-right: 15px;
}

.floatLeft {
    float: left;
    padding: 1em;
}

#selfie{
    height: 400px;
}
